.shell {
  min-height: 100vh;
  width: 100%;
  background: #f5f7fb;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: 900;
  letter-spacing: 0.9px;
}

.title {
  font-size: x-large;
}

.content {
  padding: 24px 16px;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .content {
    padding: 16px 12px;
  }

  .header {
    height: 56px;
  }
}
